name: Test
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          pip install poetry
          cd training && poetry install --with dev --no-root
      - name: Lint training code
        run: cd training && poetry run ruff check .
      - name: Lint API code
        run: cd training && poetry run ruff check ../api/
      - name: Run tests
        run: cd training && poetry run pytest --cov=training --cov-report term --cov-report lcov:coverage.lcov -vv
